
    .productgrid {
        display:grid;
        width: 100%;

        grid-template-columns: [left] 1fr [middle] 1fr [right] 1fr;
        .product_card {
            max-width: 150px;
            // background-image: url(`/image/${}`);
        }
    }